.container{
    max-width: 600px;
    margin: auto;
}

.chat{
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow: scroll;
    margin-bottom: 10px;
}

.container form{
    margin-bottom: 10px;
}
.container form button{
    cursor: pointer;
}

.container input{
    width: 80%;
    padding: 10px;
}